// colors
$white: rgb(255, 255, 255);
$gray: rgb(204, 204, 204);
$ultra-dark-gray: #414141;
$dark-gray: rgb(90, 90, 90);
$light-gray: rgb(241, 241, 241);
$ultra-light-gray: rgb(245, 246, 247);
$red: rgb(203, 0, 0);
$border: 1px solid $light-gray;
$hover-main-color: rgba(204, 0, 0, .2);
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: "Arial";
    color: $dark-gray;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Open Sans', sans-serif;
}

.header {
    .logo {
        height: 48px;
        background: url("../img/hitachi-logo.png") 15px 10px no-repeat $light-gray;
        border-top: 4px solid $red;
    }
    .nav {
        height: 50px;
        background-color: $dark-gray;
        .nav-left {
            font-size: 1.125em;
            letter-spacing: 0.05em;
            font-weight: 700;
            padding: 14px 0 0 14px;
            color: $white;
        }
    }
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    .col-left {
        border-right: $border;
        flex: 0 0 250px;
        p.title {
            font-size: 0.75em;
            font-weight: 600;
            padding: 0;
            margin: 10px 0;
        }
        .themes {
            border-bottom: $border;
            padding: 15px 20px;
            .theme-selector {
                background: transparent;
                border: 1px solid $gray;
                font-weight: 400;
                font-size: 0.875em;
                text-transform: capitalize;
                color: $dark-gray;
                height: 30px;
                width: 100%;
                padding: 5px;
            }
        }
        .components {
            .title {
                font-size: 0.75em;
                font-weight: 600;
                padding: 0 20px;
                margin: 20px 0 10px;
            }
            ul {
                list-style: none;
                padding: 0;
            }
            li {
                font-family: 'Open Sans', sans-serif;
                font-size: 0.75em;
                line-height: 2em;
                padding: 0 30px;
                &:hover {
                    background-color: $hover-main-color;
                }
            }
            a {
                color: $dark-gray;
                text-decoration: none;
                text-transform: capitalize;
                .active {
                    background-color: $hover-main-color;
                }
            }
        }
    }
    .content {
        flex: 1;
        padding: 0 30px;
        .content-desc {
            hr {
                border: 0;
                height: 1px;
                background: $light-gray;
                margin: 0 0 30px;
            }
            h1 {
                font-size: 2em;
                font-weight: 600;
                line-height: 50px;
                margin: 30px 0;
                color: $ultra-dark-gray;
            }
            h2 {
                font-size: 1.875em;
                line-height: 40px;
            }
            p {
                font-size: 0.875em;
                line-height: 20px;
                color: $ultra-dark-gray;
            }
        }
        .content-specs {
            background-color: $ultra-light-gray;
            .content-impl {
                padding: 20px;
                margin: 20px 0 0;
                background-color: $white;
                border: 2px solid #F2F2F2;
            }
            .content-code {
                padding: 20px;
                margin: 0;
            }
        }
    }
    .col-right {
        flex: 0 0 205px;
        border-left: $border;
    }
}