// Primary button
$primary-button-background-color: $main-color;
$primary-button-hover-color: $secondary-color;
$primary-button-color: $white;
// Disabled button
$disabled-background-color: $light-gray;
$disabled-color: $dark-gray;
// List
$list-main-color: $main-color;
$list-main-hover-color: $medium-gray;