// BUTTONS -------------------------------------------
// Primary button
$primary-button-background-color: $white !default;
$primary-button-hover-background-color: $primary-color !default;
$primary-button-border-color: $primary-color !default;
$primary-button-hover-border-color: $primary-color !default;
$primary-button-text-color: $primary-color !default;
$primary-button-hover-text-color: $white !default;
// Secondary button
$secondary-button-background-color: $primary-color !default;
$secondary-button-border-color: $primary-color !default;
$secondary-button-hover-background-color: $secondary-color !default;
$secondary-button-hover-border-color: $secondary-color !default;
$secondary-button-text-color: $white !default;
$secondary-button-hover-text-color: $white !default;
// Disabled button
$primary-button-disabled-background-color: $primary-disabled-color !default;
$primary-button-disabled-hover-background-color: $primary-disabled-color !default;
$primary-button-disabled-border-color: $primary-disabled-color !default;
$primary-button-disabled-hover-border-color: $primary-color !default;
$primary-button-disabled-text-color: $secondary-disabled-color !default;
$primary-button-disabled-hover-text-color: $secondary-disabled-color !default;
// Button group
$button-group-background-color: $white !default;
$button-group-border-color: $primary-color !default;
$button-group-text-color: $primary-color !default;
$button-group-background-selected-color: $primary-color !default;
$button-group-background-hover-color: $primary-color !default;
$button-group-background-selected-hover-color: $primary-color !default;
$button-group-background-selected-icon: url("/doc/img/check.png") !default;
//
//
// HEADERS ---------------------------------------------
// PUC Header
$puc-top-header-background-color: $light-gray !default;
$puc-top-header-border: 4px solid $primary-color !default;
$puc-bottom-header-background-color: $light-gray !default;
$puc-bottom-header-background-hover-color: $primary-color !default;
$puc-header-text-color: $dark-gray !default;
$puc-header-menu-text-color: $dark-gray !default;
$puc-header-menu-icon: url('/doc/img/dropdown_down_arrow_black.png') !default;
//
//
// LISTS ---------------------------------------------
// Lists
$list-container-border-color: $gray !default;
$list-primary-text-color: $dark-gray !default;
$list-primary-hover-background-color: $medium-gray !default;
$list-primary-selected-background-color: $primary-hover-color !default;
$list-primary-selected-text-color: $dark-gray !default;
$list-primary-hover-text-color: $white !default;
//
//
// LOADING ---------------------------------------------
$loading-image-spinner: url('/doc/img/loading-ruby.gif') !default;
$loading-message-text-color: $medium-dark-gray !default;
$loading-message-background-color: $white !default;
$loading-message-border-color: $medium-gray !default;
//
//
// MENUS ---------------------------------------------
// Contextual menu
$top-menu-container-background-color: $white !default;
$top-menu-container-border-color: $gray !default;
$top-menu-container-list-background-hover-color: $primary-color !default;
$top-menu-container-list-text-hover-color: $white !default;
$top-menu-container-list-background-selected-color: $primary-color !default;
$top-menu-container-list-text-selected-color: $white !default;
$top-menu-container-list-text-disabled-color: $gray !default;
$top-menu-container-list-background-disabled-color: $white !default;
$top-menu-container-list-separator-border-color: $gray !default;
// Flyout menu
$flyout-menu-container-background-color: $white !default;
$flyout-menu-container-border-color: $medium-gray !default;
$flyout-menu-container-list-text-color: $dark-gray !default;
$flyout-menu-container-list-background-hover-color: $medium-gray !default;
$flyout-menu-container-list-text-hover-color: $dark-gray !default;
$flyout-menu-container-list-background-selected-color: $tertiary-color !default;
$flyout-menu-container-list-text-selected-color: $dark-gray !default;
$flyout-menu-container-list-background-disabled-color: transparent !default;
$flyout-menu-container-list-text-disabled-color: $medium-gray !default;
$flyout-menu-container-icon-border-color: $primary-color !default;
//
//
// NAVIGATION ---------------------------------------------
// Perspective control
$perspective-control-border-color: $medium-gray !default;
$perspective-control-list-background-color: $white !default;
$perspective-control-list-background-hover-color: $medium-gray !default;
$perspective-control-list-background-selected-color: $tertiary-color !default;
$perspective-control-list-background-active-color: $white !default;
$perspective-control-list-background-disabled-color: $white !default;
$perspective-control-list-background-disabled-hover-color: $white !default;
$perspective-control-list-text-selected-color: $dark-gray !default;
$perspective-control-list-text-active-color: $dark-gray !default;
$perspective-control-list-text-hover-color: $dark-gray !default;
$perspective-control-list-text-disabled-color: $gray !default;
// User control
$user-control-border-color: $medium-gray !default;
$user-control-list-background-active-color: $white !default;
$user-control-list-background-hover-color: $medium-gray !default;
//
//
// TABLES ---------------------------------------------
$table-container-border-color: $medium-gray !default;
$table-container-header-background-color: $medium-dark-gray !default;
$table-container-header-text-color: $white !default;
$table-container-header-border-right-color: $medium-gray !default;
$table-container-header-border-color: $medium-gray !default;
$table-container-data-border-right-color: $medium-gray !default;
$table-container-data-border-bottom-color: $medium-gray !default;
$table-container-data-text-color: $dark-gray !default;
$table-container-row-odd-background-color: $light-gray !default;
$table-container-row-background-hover-color: $medium-gray !default;
$table-container-row-text-hover-color: $dark-gray !default;
$table-container-row-background-active-color: $tertiary-color !default;
//
//
// TABS ---------------------------------------------
$tabs-content-border-color: $gray !default;
$tabs-selector-list-item-text-color: $gray !default;
$tabs-selector-list-item-text-hover-color: $primary-color !default;
$tabs-selector-list-active-border-top-color: $primary-color !default;
$tabs-selector-list-active-border-right-color: $gray !default;
$tabs-selector-list-active-border-bottom-color: $white !default;
$tabs-selector-list-active-border-left-color: $gray !default;
$tabs-selector-list-background-color: $transparent !default;
$tabs-selector-list-item-border-top-color: $transparent !default;
$tabs-selector-list-item-border-right-color: $transparent !default;
$tabs-selector-list-item-border-bottom-color: $transparent !default;
$tabs-selector-list-item-border-left-color: $transparent !default;