$main-color: #cc0000 !default;
$secondary-color: #7C0B2B !default;
$white: #ffffff !default;
$tertiary-color: #FF312E !default;
$primary-hover-color: #F1CCCC !default;
$light-gray:#F8F8F8 !default;
$medium-gray:#E0E0E0 !default;
$dark-gray:#414141 !default;