// COLOR PALETTE
// monochrome colors
$white: #ffffff !default;
$super-light-gray: #fdfdfd !default;
$light-gray: #f8f8f8 !default;
$medium-gray: #e0e0e0 !default;
$gray: #cccccc !default;
$medium-light-gray: #999999 !default;
$medium-dark-gray: #666666 !default;
$dark-gray: #414141 !default;
$transparent: transparent !default;
// bright colors
$super-light-red: #f1cccc !default;
$light-red: #ff312e !default;
$red: #cc0000 !default;
$dark-red: #7c0b2b !default;
$light-blue: #e6eff6 !default;
$blue: #005da6 !default;
$dark-blue: #0f2b5b !default;

/*
*
*
*/

// Functional Variables
$primary-color: $red !default;
$secondary-color: $dark-red !default;
$tertiary-color: $light-red !default;
$quaternary-color: $super-light-red !default;
$primary-hover-color: $super-light-red !default;
$secondary-hover-color: $red !default;
$tertiary-hover-color: $dark-red !default;
$quaternary-hover-color: $red !default;
$text-light-color: $white !default;
$text-dark-color: $dark-gray !default;
$primary-disabled-color: $medium-gray !default;
$secondary-disabled-color: $medium-dark-gray !default;
$tertiary-disabled-color: $light-gray !default;
$quaternary-disabled-color: $super-light-gray !default;
