// BUTTONS
.btn {
    padding: 10px 20px;
    font-size: 0.875em;
    line-height: 1em;
    border-radius: 4px;
}

// Primary button
.btn-primary {
    background-color: $primary-button-background-color;
    border: 1px solid $primary-button-border-color;
    color: $primary-button-text-color;
    &:hover,
    &.hover {
        background-color: $primary-button-hover-background-color;
        border-color: $primary-button-hover-border-color;
        color: $primary-button-hover-text-color;
    }
    &:disabled {
        background-color: $primary-button-disabled-background-color;
        border-color: $primary-button-disabled-background-color;
        color: $primary-button-disabled-text-color;
        cursor: not-allowed;
    }
}

// Secondary button
.btn-secondary {
    background-color: $secondary-button-background-color;
    border: 1px solid $secondary-button-border-color;
    color: $secondary-button-text-color;
    &:hover,
    &.hover {
        background-color: $secondary-button-hover-background-color;
        border-color: $secondary-button-hover-border-color;
        color: $secondary-button-hover-text-color;
    }
    &:disabled {
        background-color: $primary-button-disabled-background-color;
        border-color: $primary-button-disabled-background-color;
        color: $primary-button-disabled-text-color;
        cursor: not-allowed;
    }
}

// Button group
.btn-group {
    border: 1px solid $button-group-border-color;
    color: $button-group-text-color;
    font-size: 0;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    >.btn {
        color: $primary-button-text-color;
        background-color: $button-group-background-color;
        font-size: 14px;
        line-height: 1em;
        padding: 10px 20px;
        white-space: nowrap;
        text-align: center;
        margin: 0;
        border-radius: 0;
        border: 0;
        &.selected {
            background-color: $button-group-background-selected-color;
            background-image: $button-group-background-selected-icon;
            border-left: 1px solid $white;
            border-right: 1px solid $white;
            color: $white;
            background-repeat: no-repeat;
            background-position: left 8px center;
        }
        &:hover {
            background-color: $button-group-background-selected-hover-color;
            color: #FFF;
        }
        &:first-child {
            border-radius: 4px 0px 0px 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }
}

// Toggles
.btn-group-toggle {
    font-size: 0;
    white-space: nowrap;
    border-radius: 4px;
    .toggle {
        height: 30px;
        border: 1px solid $medium-gray;
        color: $dark-gray;
        display: inline-block;
        margin: 10px;
        font-size: 14px;
        line-height: 1em;
        padding: 6px 10px;
        white-space: nowrap;
        text-align: center;
        margin: 0;
        margin-left: -1px;
        vertical-align: top;
        &.selected {
            border-bottom: 3px solid $primary-button-border-color;
            color: $primary-button-border-color;
        }
        &:hover {
            color: $list-primary-text-color;
        }
        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }
}