// LOADING ANIMATION
.loading-animation {
    margin: 50px auto;
    display: block;
}

// LOADING MESSAGE
.message-background {
    width: 350px;
    height: 90px;
    margin: 50px auto;
    display: block;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: $white;
    border: 1px solid $medium-gray;
    padding: 20px;
    h5 {
        padding: 0 0 5px 0;
        margin: 0 0 0 70px;
        font-weight: 500;
        font-size: 18px;
    }
    p {
        padding: 0;
        margin: 0 0 0 70px;
        font-weight: 500;
        font-size: 14px;
    }
    img {
        position: absolute;
        height: 50px;
        width: 50px;
    }
}