// LOADING ANIMATION
.loading-modal {
  p.input-label,
  .dialog-title {
    text-align: center;
  }
  p.loading-message {
    color: $loading-message-text-color;
    font-style: italic;
    text-align: center;
  }
  .loading-image-spinner {
    background-image: $loading-image-spinner;
    display: block;
    margin: 30px auto;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
  }
  .center {
    // Just to center align the button
    display: block;
    margin: 0 auto;
  }
}

// LOADING MESSAGE
.message-background {
  background-color: $loading-message-background-color;
  border: 1px solid $loading-message-border-color;
  width: 350px;
  height: 90px;
  margin: 50px auto;
  display: block;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 20px;
  h5 {
    padding: 0 0 5px 0;
    margin: 0 0 0 70px;
    font-weight: 500;
    font-size: 18px;
  }
  p {
    padding: 0;
    margin: 0 0 0 70px;
    font-weight: 500;
    font-size: 14px;
  }
  .loading-image-spinner {
    background-image: $loading-image-spinner;
    &.message-spinner {
      background-size: 50px 50px;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      position: absolute;
    }
  }
}
