// FILE MENU
.top-menu-container {
    background-color: $top-menu-container-background-color;
    border: 1px solid $top-menu-container-border-color;
    margin-top: 0px;
    margin-left: 0px;
    border-spacing: 0;
    padding: 0;
    max-width: 200px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    display: inline-block;
}

.top-menu-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.top-menu-container li.top-menu-list-item {
    color: #333;
    padding: 8px 12px 8px 25px;
    font-size: 13px;
    list-style: none;
    &:hover {
        background-color: $top-menu-container-list-background-hover-color;
        color: $top-menu-container-list-text-hover-color;
        cursor: default;
    }
    &.selected {
        background-color: $top-menu-container-list-background-selected-color;
        color: $top-menu-container-list-text-selected-color;
        cursor: default;
        background-image: url('/doc/img/dropdown_right_arrow_white.png');
    }
    &.disabled {
        color: $top-menu-container-list-text-disabled-color;
        background-color: $top-menu-container-list-background-disabled-color;
    }
}

li.top-menu-list-item+.selected {
    background-image: url('/doc/img/dropdown_right_arrow_white.png');
}

.top-menu-container+.sub-menu {
    position: absolute;
    margin-left: -1px;
}

.top-menu-container .top-menu-list-arrow {
    background-image: url('/doc/img/dropdown_right_arrow_black.png');
    background-position: right center;
    background-repeat: no-repeat;
    &:hover {
        background-image: url('/doc/img/dropdown_right_arrow_white.png');
    }
}

.menu-item-separator {
    padding: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 1px;
    width: 100%;
}

.menu-item-separator>.menu-separator-inner {
    border-top: 1px solid $top-menu-container-list-separator-border-color;
}

// FLYOUT MENU
.flyout-menu {
    background-color: $flyout-menu-container-background-color;
    border: 1px solid $flyout-menu-container-border-color;
    border-spacing: 0;
    border-radius: 4px;
    max-width: 200px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.flyout-menu ul {
    margin: 0;
    padding: 5px 0;
    list-style: none
}

.flyout-menu li {
    color: $flyout-menu-container-list-text-color;
    font-size: 14px;
    line-height: 26px;
    list-style: none;
    padding: 0 10px;
    margin: 0;
    &:hover {
        background-color: $flyout-menu-container-list-background-hover-color;
        color: $flyout-menu-container-list-text-hover-color;
        cursor: default;
    }
    &.selected {
        background-color: $flyout-menu-container-list-background-selected-color;
        color: $flyout-menu-container-list-text-selected-color;
        cursor: default;
    }
    &.disabled {
        color: $flyout-menu-container-list-text-disabled-color;
        background-color: $flyout-menu-container-list-background-disabled-color;
    }
}

.icon-viz-picker {
    border: 1px solid $flyout-menu-container-icon-border-color;
    height: 40px;
    width: 40px;
    margin-left: 160px;
}