.tab-content {
    border: 1px solid $tabs-content-border-color;
    min-height: 300px;
    margin-top: -1px;
}

.tab-selector {
    font-family: 'Open Sans', Helvetica, Arial, Sans serif;
}

.tab-selector ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-selector li {
    color: $tabs-selector-list-item-text-color;
    background: $tabs-selector-list-background-color;
    border-top: 4px solid $tabs-selector-list-item-border-top-color;
    border-right: 1px solid $tabs-selector-list-item-border-right-color;
    border-bottom: 1px solid $tabs-selector-list-item-border-bottom-color;
    border-left: 1px solid $tabs-selector-list-item-border-left-color;
    display: inline-block;
    list-style: none;
    padding: 6px 15px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    font-size: 14px;
    line-height: 22px;
    width: auto;
}

.tab-selector li.active {
    border-top: 4px solid $tabs-selector-list-active-border-top-color;
    border-right: 1px solid $tabs-selector-list-active-border-right-color;
    border-bottom: 1px solid $tabs-selector-list-active-border-bottom-color;
    border-left: 1px solid $tabs-selector-list-active-border-left-color;
    color: $primary-color;
}

.tab-selector li:hover {
    color: $tabs-selector-list-item-text-hover-color;
    cursor: pointer;
}