// colors
$grey: rgb(204, 204, 204);
$light-grey: rgb(241, 241, 241);
$dark-grey: rgb(90, 90, 90);
$white: rgb(251, 251, 251);
$red: rgb(203, 0, 0);

$border: 1px solid $light-grey;

html,
body {
  margin: 0;
  font-family: "Arial";
  color: $dark-grey;
}

header {
  .logo {
    height: 48px;
    background: url("/images/hitachi-logo.png") 15px 10px no-repeat $light-grey;
    border-top: 4px solid $red;
  }
  .nav {
    height: 50px;
    background-color: $dark-grey;

    .nav-left {
      font-size: 18px;
      letter-spacing: 0.05em;
      font-weight: 700;
      padding: 14px 0 0 14px;
      color: $white;
    }
  }
}

section {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .col-left {
    border-right: $border;
    flex: 0 0 205px;

    .theme-config {
      padding: 5px 0 20px 15px;
      border-bottom: $border;

      p {
        font-size: 12px;
        font-weight: 600;
        line-height: 5px;
      }

      .theme-selector {
        background: transparent;
        border: 1px solid $grey;
        font-weight: 400;
        font-size: 14px;
        color: $dark-grey;
        height: 30px;
        width: 171px;
        padding: 5px;
      }
    }
  }

  .col-content {
    flex: 1;
    padding: 30px;

    hr {
      border: 0;
      height: 1px;
      background: $light-grey;
    }

    .content-title {
      font-size: 30px;
      font-weight: 600;
      line-height: 50px;
    }

    .content-sub-title {
      font-size: 20px;
      line-height: 40px;
    }

    .content-desc {
      font-size: 14px;
      line-height: 20px;
    }

    .content-snippet {
      padding: 20px;
      margin-top: 20px;
      border: $border;
    }
  }

  .col-right {
    flex: 0 0 205px;
    border-left: $border;
  }
}
