.btn {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid $grey;
}

.btn-primary {
  background-color: $button-background-color-primary;
  color: $light-grey;
}

.btn-secondary {
  background-color: $button-background-color-secondary;
}
