$white: rgb(251, 251, 251);
$red: rgb(203, 0, 0);
$grey: rgb(204, 204, 204);
$light-grey: rgb(241, 241, 241);
$dark-grey: rgb(90, 90, 90);

// Buttons
$button-background-color-primary: $red;
$button-background-color-secondary: $grey;