// General Colors
$white: #ffffff;
$super-light-gray: #fdfdfd;
$light-gray: #f8f8f8;
$medium-gray: #e0e0e0;
$gray: #cccccc;
$medium-dark-gray: #666666;
$dark-gray: #414141;
$super-light-red: #f1cccc;
$light-red: #ff312e;
$red: #cc0000;
$dark-red: #7c0b2b;
//
// Functional Variables
$primary-color: $red;
$secondary-color: $dark-red;
$tertiary-color: $super-light-red;
$quaternary-color: $light-red;
$text-light-color: $white;
$text-dark-color: $dark-gray;
//
//
//
//
//
// ------------- THEME VARIABLES -------------
//
// BUTTONS
//
//
// LISTS
$list-primary-selected-background-color: $tertiary-color;
$list-primary-selected-text-color: $text-dark-color;
$list-primary-hover-text-color: $dark-gray;
//
//
// LOADING
$loading-image-spinner: url("/doc/images/loading-ruby.gif");
$loading-message-text-color: $medium-dark-gray;
